.about {
    display: flex;
    flex-direction: row;
    width: 80%;

    margin: 0 10% 0 10%;
    padding-top: 70px;

    .textBox {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 5%;

        h1 {
            display: block;
            margin-left: 28%;
            margin-bottom: 10px;
            color: #4B88A2;
            font-family: Montserrat;
            font-size: 40px;
            font-weight: 500;
        }

        p {
            color: #D3D4D9;
            font-family: Montserrat;
            font-size: 30px;
            padding-top: 10px;
            text-indent: -10px;
        }


    }

    .photo {
        border-radius: 250px;
        width: 250px;
        height: 250px;
        margin-left: 15%;
        margin-top: 50px;
        background-image: url(../img/photo.png);
        background-size: 250px 250px;
    }


}

@media (max-width: 376px) {
    .about {
        flex-direction: column-reverse;
        width: 100%;

        margin: 0;
        padding: 0;

        .textBox {

            width: 96%;
            margin: 0 2% 0 2%;

            h1 {
                margin: 10px 0 10px 0;
                text-align: center;
            }

            p {
                padding: 5px;
                text-indent: 0;
                font-size: 25px;
                text-align: center;
            }
        }

        .photo {
            margin: 20px 0 0 62.5px;
        }
    }
}

@media (min-width: 376px) and (max-width: 768px) {
    .about {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 90%;
        margin: 0 5% 0 5%;
        padding-top: 50px;

        .textBox {
            width: 500px;
        }

        .photo {
            margin: 50px 0 0 0;
        }
    }
}

@media (min-width: 1400px) and (max-width: 1920px) {
    .about {
        display: flex;
        flex-direction: row;
        width: 90%;

        margin: 0 5% 0 5%;
        padding-top: 70px;

        .textBox {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin-left: 5%;

            h1 {
                display: block;
                margin-left: 28%;
                margin-bottom: 10px;
                color: #4B88A2;
                font-family: Montserrat;
                font-size: 55px;
                font-weight: 500;
            }

            p {
                color: #D3D4D9;
                font-family: Montserrat;
                font-size: 40px;
                padding-top: 10px;
                text-indent: -10px;
            }


        }

        .photo {
            border-radius: 250px;
            width: 350px;
            height: 350px;
            margin-left: 15%;
            margin-top: 50px;
            background-image: url(../img/photo.png);
            background-size: 350px 350px;
            background-repeat: no-repeat;
        }


    }
}