.hardskills{
    width: 80%;
    height: 200px;
    margin: 0 10% 0 10%;
    padding-top: 70px;

    h1{
        text-align: center;
        color: #4B88A2;
        font-family: Montserrat;
        font-size: 40px;
        font-weight: 500;
    }

    ul{
        display: flex;
        flex-direction: row;
        margin-left:30%;
        padding-top: 30px;

        li{
            color: #D3D4D9;
            font-family:Montserrat;
            font-size: 30px;
            padding-top: 10px;
        }
        .liBox{
            margin-left: 40px;
        }
    }
}